/*****************************************************************************************
*
* Nordic WP Theme
* Author: Md. Hasan Shahriar ( hsleonis2@gmail.com )
* Rakib Hasan
* http://ThemeAxe.com, (c)2016
*
* TABLE OF CONTENTS:
* [1] BASIC
* [2] NAVIGATION
* [3] SECTIONS
* [4] MODAL
* [5] FOOTER
* [6] DATA PANEL
* [7] SERVICES
* [8] MEDIA QUERY
******************************************************************************************/

/********************************************
* [1] BASIC
*********************************************/
body {
    font-family: 'Raleway', sans-serif;
}
.top-bg, .bg-one, .bg-two, .bg-three, .bg-service {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.top-bg{
    padding-bottom: 10px;
    background-color: #143D70;
}
.home .top-bg,
.page-template-page-home-onepage .top-bg,
.page-template-page-home-popup .top-bg,
.page-template-page-home-slide .top-bg,
.single-service .top-bg {
    padding-bottom: 50px;
}
.main-content {
    padding: 50px 15px;
}
.main-content h3 {
    text-align: center;
    padding-bottom: 20px;
}
.bg-one{
    padding: 45px 0;
}
.bg-two{

}
.bg-three{
    padding-top: 100px;
    padding-bottom: 60px;
}
.bg-service{
    min-height: 350px;
    padding: 70px;
}

/********************************************
* [2] NAVIGATION
*********************************************/
.nsl-menubar {
    background-color: transparent !important;
    border: 0 !important;
}
.nsl-menubar-toggle {
    border: 1px solid #476070 !important;
}
.nsl-menubar-toggle:hover, .nsl-menubar-toggle:active, .nsl-menubar-toggle:focus {
    background-color: #062B4A !important;
}
.nsl-menubar .container::before {
    border-top: 1px solid #465f6c;
    margin-top: 30px;
    width: 100%;
}
.nsl-menubar .nav li a,
.banner-left-block, .banner-right-block,
.info-block, .different-services{
    color: #fff;
}
.nsl-menubar .nav li a {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
}
.nsl-menubar .nav li a:hover, .nsl-menubar .nav li a:active, .nsl-menubar .nav li a:focus,
.nsl-menubar .nav > .open > a, .nsl-menubar .nav > .open > a:focus, .nsl-menubar .-nav > .open > a:hover,
.nsl-menubar .dropdown-menu a {
    color: #c5c1c1;
    background-color: transparent;
}
.nsl-menubar .navbar-nav > .active > a,
.nsl-menubar .navbar-nav > .active > a:focus,
.nsl-menubar .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #e7e7e71a;
}
.nsl-menubar .dropdown-menu a:hover{
    color: #0b61aa !important;
}
.nsl-menubar .dropdown-menu{
    background-color: rgba(0,0,0,0.4);
    border-radius: 1px;
}
.nsl-menubar .navbar-collapse{
    border-color: #465f6c;
    margin-top: 15px;
}

/********************************************
* [3] SECTIONS
*********************************************/
.banner-left-block, .banner-right-block {
    margin-top: 30px;
    max-width: 350px;
}
.title {
    text-transform: uppercase;
    font-weight: 900;
}
.welcome, .srv-text {
    font-size: 20px;
}
.welcome, .info-block div, .s-block-info {
    font-weight: 600;
}
.separator {
    border: 1px solid #2a4ea0;
    width: 80px;
    height: 2px !important;
    margin: 10px 0;
}
.subtitle, .agencies-info, .different-services-info {
    font-weight: 500;
}
.subtitle, .info-block .title {
    font-size: 14px;
}
.btn-general {
    border-radius: 0;
    color: #fff;
    background-color: #0b61aa;
    border: 0;
    padding: 5px 15px;
}
.banner-left-block .btn-general{
    margin-top: 15px;
}
.btn-general:hover {
    background-color: #0b61aab3;
    color:  #c5c1c1;
}
.track-trace, .srv-text1,
.different-services-title{
    font-weight: 800;
}
.info-block .title, .s-block-title{
    font-weight: 700;
}
.find, .info-block div {
    font-size: 12px;
}
.control-label {
    font-size: 13px;
    font-weight: 500;
    text-align: left !important;
}
.input-field {
    background-color: rgba(125, 125, 125, 0.23);
    border: 0;
    color: #fff;
}
.banner-right-block .btn-general {
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
}
.form-horizontal {
    margin-top: 30px;
}
.banner-right-block {
    background-color: rgba(0,0,0,0.62);;
    padding: 30px 15px;
    float: right;
    width: 70%;
}
.banner-right-block input::-webkit-input-placeholder {
    color:    #78797b;
    font-size: 11px;
    font-weight: 300;
}
.banner-right-block input:-moz-placeholder {
    color:    #78797b;
    font-size: 11px;
    font-weight: 300;
}
.banner-right-block input::-moz-placeholder {
    color:    #78797b;
    font-size: 11px;
    font-weight: 300;
}
.banner-right-block input:-ms-input-placeholder {
    color:    #78797b;
    font-size: 11px;
    font-weight: 300;
}
.info-block .title{
    margin-bottom: 15px;
}
.info-block {
    border-right: 1px solid #b7b7b780;
    position: relative;
    padding-left: 25%;
}
.bg-one .col-xs-4:last-child .info-block {
    border: 0;
}
.service-section{
    margin-bottom: 30px;
}
.srv-text{
    color: #010506;
}
.srv-text1{
    color: #010b11;
    margin-bottom: 50px;
}
.srv-text1, .different-services-title{
    font-size: 30px;
}
.srv-text, .srv-text1{
    text-align: right;
}
.s-block-title{
    font-size: 17px;
    min-height: 75px;
    color: #03111e;
}
.s-block-info{
    font-size: 15px;
    color: #303030;
}
.bg-two{
    padding: 60px 0;
}
.service-block {
    background-color: #f6f6f6;
    margin-bottom: 15px;
}
.inner-block {
    padding: 30px 30px 50px 30px;
}
.readMore-button {
    background-color: #fff;
    padding-bottom: 15px;
}
.readMore-button a {
    position: relative;
    top: -15px;
    height: 35px;
    font-weight: 700;
    font-size: 13px;
    padding: 9px 30px;
}
.different-services {
    padding-top: 45px;
    padding-bottom: 45px;
    max-width: 280px;
    text-align: left;
    margin: auto;
}
.right-border {
    border-right: 1px solid #424443;
}
.different-services-info{
    margin-top: 30px;
    margin-bottom: 35px;
}

/********************************************
* [4] MODAL
*********************************************/
.service-modal .modal-header,
.service-modal .modal-body {
    padding: 30px;
}
.service-modal .modal-content {
    border-radius: 2px;
}
/*.service-modal.fade .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}*/
.service-modal .modal-title {
    font-weight: 900;
    margin-bottom: 20px;
    color: #031A45;
    font-size: 28px;
}
.service-modal img {
    max-width: 100%;
    height: auto;
}
.close {
    font-size: 40px;
    font-weight: 300;
    filter: alpha(opacity=100);
    opacity: 1;
    position: relative;
    top: -10px;
}

/********************************************
* [5] FOOTER
*********************************************/
.footer-area {
    background-color: #020a17;
    padding-top: 60px;
    padding-bottom: 100px;
}
.footer-logo img {
    max-width: 85px;
}
.footer-info-block {
    border-right: 0;
}
.footer-info-block .title{
    position: relative;
    margin-bottom: 35px;
}
.footer-info-block .title::after {
    content: "";
    border-bottom: 2px solid #1c356f;
    width: 80px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

/*********************************************
* [6] DATA PANEL
**********************************************/
.tmx-data-panel{
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    overflow-y: auto;
}
.tmx-close-data-panel{
    position: absolute;
    top: 10px;
    right: 20px;
}
.tmx-close-data-panel .close{
    font-size: 72px;
    font-weight: 300;
    color: #020a17;
}

/*********************************************
* [7] SERVICES
**********************************************/
.bg-single-service {
    margin: 60px 0;
    background-repeat: no-repeat;
    background-position: center;
}
.service-list li {
    text-align: right;
    list-style: none;
    text-transform: uppercase;
    margin: 25px 0;
    padding-bottom: 15px;
    font-weight: 700;
    position: relative;
}
.service-list li a {
    color: #8E9194;
}
.service-list li:hover a,
.service-list li:focus a,
.service-list li:active a {
    color: #03111E;
    text-decoration: none;
}
.service-list li:hover:before,
.service-list li:focus:before,
.service-list li:active:before {
    content: '';
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 3px;
    background-color: #2A4EA0;
}
.service-content {
    padding: 0 25px;
}
.service-content h3 {
    margin-top: 0;
    font-weight: 900;
    margin-bottom: 40px;
    color: #031A45;
    font-size: 28px;
}
.service-content p {
    padding-bottom: 20px;
}
.service-content img,
.different-services-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
.service-modal .modal-body blockquote,
.service-content blockquote {
    color: #0B61AA;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0;
    border: 0;
    margin: 0;
}

/*********************************************
* [8] MEDIA QUERY
**********************************************/
@media all and (max-width: 500px) {
    #sidebar ul,
    .service-list {
        padding: 0;
    }
}